*{
	box-sizing: border-box;
}
body{
	margin:0px;
	font-family: "Exo", sans-serif;
	font-weight: 400;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	background-color:#0c1e3a;
	color:white;
}
/* Horni menu*/
header {
	background-color: #00ad45;
	text-align: center;
	position: fixed;
	width: 100%;
	margin: 0;
	top:0;
	opacity: 0.85;
	z-index: 55;
}

header img {
	width:200px;
	height: 100px;
	position: absolute;
	left:0;
	top:0;
}

header nav {
	position: relative;
	background-color: #00ad45;
	margin-left:250px;
}

nav ul {
	margin:0;
	padding: 0;
	list-style-type: none;
	top:0;
	float:right;
	width: 100%;
	text-align:center;

}

nav li {
	text-decoration: none;
	font-size: 1.2em;
	text-transform: uppercase;
	display: inline;
	
}

nav a {
	color:black;
	padding: 20px;
}

nav a:hover {
	font-weight: bold;
	color: #12ceb2;
	background-color: white;
}

a {
	text-decoration: none;
}
.first-item{
	background: #f4f40c;
	position: relative;
	line-height: 100px;
	margin-top:40px;
	padding-top: 20px;
	padding-bottom: 20px; 
}
.admin-only{
	display:none;
}

/*obsah stránky*/
article {
	position: relative;
	width: 100%;
	margin-top: 120px;
	text-align: center;
}

.content {
	margin-top: 120px;
	align-items: center;
	position: relative;
	font-size: 1.25em;	
	padding-bottom: 30px;
}
.skins{
	width: auto;
	height: 0;
	z-index: 999;
	position:absolute;
	right:0;
}

.error-text{
	color:red;
	text-align:center;
	font-size: 2em;
}

.error {
	border: 2px solid red !important;
}

.content form {
	font-size: 26px;
	margin-left:30px;
	text-align: left;
}

textarea{
	width:900px;
	margin-left:30px;
	margin-top: 7px;
	font-size: 18px;
}
.content input {
	margin:10px;
	font-size: 26px;
	font-family: Exo, sans-serif;
}
.content input[type=text] {
	border:1px solid rgba(0,0,0,0.6);
	width: 500px;
}
#submitarticle{
	width: 280px;
	height: 50px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #000;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 8px;
	margin-top: 10px;
}
#submitarticle:hover {
	opacity: 0.8;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	color:white;
    padding: 10px;
    font-size: 10px;
    text-align: center;
    background-color: #002eff;
}

@media (max-width: 950px){
	nav li {
		display:block;
		margin:5px;
	}
	header{
		position: absolute;
		opacity: 1;
		}
	.first-item{
		line-height: 0;
		margin-top:20px;
		margin-left: 0;
		margin-right: 0;
	}
	header img{display: none;}
	header nav{margin-left: 0px;}
	.skins{
		right:unset;
		left:40%;
		}
	article{margin-top:150px;}
	nav a {padding: 0;}
	nav a:hover{
		color:black;
		background-color: inherit;
	}
	footer { position:static;}

}